

body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat
}

.form-control {
    width: 60% ;
}


.card {
    background-image: url("https://i.imgur.com/dpqZJV5.jpg");
    background-size: cover;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px
}

.time-font {
    font-size: 50px
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 28px
}

.large-font {
    font-size: 60px
}

.button {
    text-decoration: none;
    border: 3px solid yellow;
    color: transparent;
    padding: 12px 50px;
    font-size: 5px;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 0.5s;
    position: relative;
  }
  .button:before {
    content: "Seach Here";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(3, 25, 85);
    font-size: 12px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  .button:hover:before {
    transform: scale(1.3) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  .button:after {
    content: "City Weather";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(3, 25, 85);
    font-size: 12px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(360);
    opacity: 0.8;
  }
  .button:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }